.flex-align{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.row{
  padding-top: 30px;
  padding-left: 30px;
}
main{
  width: 70%;
  margin: 0 auto;
}
h2{
  margin-top: 80px;
  margin-bottom: 0px;
  letter-spacing: 2px;
}
h3{
  margin: 20px auto;
}
ol{
  margin: 20px;
}
p{
  color: #4f5c6e;
  margin: 20px auto;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 0.8px;
}
