.navbar ul li{
  list-style: none;
  margin-right: 30px;
  display: inline-block;
  padding-bottom: 10px;
  font-size: 18px;
  color: #4f5c6e;
}
ul{
  margin-left: 0;
  padding-left: 0;
  padding-bottom: 0;
}
.flex-align span{
  font-size: 22px;
  margin-left: 10px;
  color: #4f5c6e;
}
